<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muuda andmeid</title>
</head>
<body>
    <h2>Muuda andmeid</h2>
        <ul>
            <% players.forEach(el => { %>
                <li>
                    <b>Name:</b> <%= el.name %>, <b>id:</b> <%= el.id %>. <br>
                    <form action="/deleteData" method="post">
                        <input type="hidden" name="name" value="<%= players.name %>">
                        <button type="submit">Kustuta</button>
                    </form> <button>Muuda</button> <br><br>
                </li>
            <% }); %>
        </ul> <br><br> 
    <button onclick="back();">Tagasi</button>

    <script>
        function back() {window.location.href='http://localhost:3000'};
    </script>
</body>
</html>