<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andembaas</title>
    <script>

    </script>
</head>
<body>
    <h1>Insert</h1>
    <br>
    <form action="/insertData" method="post">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <input type="submit" value="Sisesta andmebaasi"><br>
    </form>
    <form action="/viewData" method="get">
            <h2>List of players</h2>
            <ul>
                <% players.forEach(player => { %>
                    <li>
                        Name: <% player.name %>, Id: <% player.id %>
                    </li>
                <% }); %>
            </ul>
        <input type="button" value="Vaata sisestatud andmeid">
    </form>
</body>
</html>