<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaata andmeid</title>

    <script>
        function dontLook() {window.location.href='http://localhost:3000'};
        function edit() {window.location.href='http://localhost:3000/changeData'};
    </script>
</head>
<body>
    <form action="/viewData" method="get">
        <h2>Mängijate nimekiri</h2>
        <ul>
            <% players.forEach(el => { %>
                <li>
                    The name is <%= el.name %> and their id is <%= el.id %>.
                </li>
            <% }); %>
        </ul>
    </form>
    <button onclick="edit();">Muuda andmeid</button> <br><br><br>
    <button onclick="dontLook();">Peida andmed</button>
</body>
</html>